<% 
    var fecha = new Date()
    var anio = fecha.getFullYear()
    var mes = ('0' + (fecha.getMonth() + 1)).slice(-2)
    var dia = ('0' + fecha.getDate()).slice(-2)
    var fechaActual = anio + '-' + mes + '-' + dia
%>

<nav>
    <input type="checkbox" id="check">
    <div id="hamburguesa">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
    </div>
    <div id="menu">
        <div>
            <li><a href="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/enlaces-localidades/es?inicio=2021-12-09&fin=<%= fechaActual %>"><i class="fa-solid fa-earth-europe"></i> Enlaces Localidades</a></li>
            <li><a href="/formulario-links"><i class="fa-solid fa-floppy-disk"></i> Añadir Enlaces</a></li>
            <li><a href="/editar-links"><i class="fa-solid fa-pen-to-square"></i> Editar Enlaces</a></li>
            <li><a href="/GSC"><i class="fa-solid fa-chart-simple"></i> Google Search Console</a></li>
            <li><a href="/page-speed"><i class="fa-solid fa-chart-simple"></i> Velocidad de Carga</a></li>
        </div>
        <div>
            <% if(rol == 'Administrador') { %>
                <li id="logout"><a href="/register"><i class="fa-solid fa-user"></i> Crear Nuevo Usuario</a></li>
            <% } %>
            <li id="logout"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
        </div>
    </div>
</nav>